<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Projections</title>
<link rel="stylesheet" type=text/css
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<h3>Liste des Projections</h3>
	
	<table class="table table-striped">
		<tr>
			<th>ID</th><th>dateProjection</th><th>Prix</th>
		</tr>
		<tr th:each="pr:${listProjections}">
			<td th:text="${pr.id}"></td>
			<td th:text="${pr.dateProjection}"></td>
			<td th:text="${pr.prix}"></td>
		</tr>
	</table>
</body>
</html>