<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tickets</title>
<link rel="stylesheet" type=text/css
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<h3>Liste des Tickets</h3>
	
	<table class="table table-striped">
		<tr>
			<th>ID</th><th>Nom_Client</th><th>Prix</th>
		</tr>
		<tr th:each="t:${listTickets}">
			<td th:text="${t.id}"></td>
			<td th:text="${t.nomClient}"></td>
			<td th:text="${t.prix}"></td>
		</tr>
	</table>
</body>
</html>