<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Salles</title>
<link rel="stylesheet" type=text/css
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<h3>Liste des Salles</h3>
	
	<table class="table table-striped">
		<tr>
			<th>ID</th><th>Name</th><th>Nombre_Place</th>
		</tr>
		<tr th:each="s:${listSalles}">
			<td th:text="${s.id}"></td>
			<td th:text="${s.name}"></td>
			<td th:text="${s.nombrePlace}"></td>
		</tr>
	</table>
</body>
</html>